.styling-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid rgb(212, 212, 216);
  width: 200px;
  height: 200px;
}

.styling-text {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
  background: rgb(212, 212, 216);
  padding: 16px 36px;
  transform: translate(-16px, -36px);
}
